In [3]:
# Define features and target
features = ['sky', 'air temp', 'humidity', 'wind', 'water', 'forecast']
target = 'play tennis'

# Sample data
data = [
    {'sky': 'sunny', 'air temp': 'warm', 'humidity': 'normal', 'wind': 'strong', 'water': 'warm', 'forecast': 'SAME', target: 'yes'},
    {'sky': 'sunny', 'air temp': 'warm', 'humidity': 'high', 'wind': 'strong', 'water': 'warm', 'forecast': 'SAME', target: 'yes'},
    {'sky': 'sunny', 'air temp': 'cold', 'humidity': 'high', 'wind': 'strong', 'water': 'warm', 'forecast': 'change', target: 'no'},
    {'sky': 'sunny', 'air temp': 'warm', 'humidity': 'high', 'wind': 'strong', 'water': 'cold', 'forecast': 'change', target: 'yes'},
]

# Convert data to DataFrame
df = pd.DataFrame(data)

# Filter positive examples
positive_examples = df[df[target] == 'yes']

# Initialize hypothesis with the first positive example
hypothesis = list(positive_examples.iloc[0][features])

# Generalize hypothesis based on remaining positive examples
for _, row in positive_examples.iterrows():
    for i in range(len(features)):
        if hypothesis[i] != row[features[i]]:
            hypothesis[i] = '?'

# Output the final hypothesis
print("The most specific hypothesis for playing tennis is:")
print(hypothesis)

The most specific hypothesis for playing tennis is:
['sunny', 'warm', '?', 'strong', '?', '?']

In [4]:
df

     sky air temp humidity    wind water forecast play tennis
0  sunny     warm   normal  strong  warm     SAME         yes
1  sunny     warm     high  strong  warm     SAME         yes
2  sunny     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cold   change         yes